@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,400&display=swap');
/*==========================================================*/
/*Import fonts from google fonts = Raleway*/
/*==========================================================*/
/*Fonts Raleway current on page*/
/*First statement for box-sizing*/
/* box-sizing is applied to all elements */
/*==========================================================*/
*{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
/*==========================================================*/
/*general positioning PAGE*/
/*==========================================================*/
.generalPosition {
    padding-left: 20px;
}
.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.columnFlexAround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.columnFlexCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.columnFlexBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*==========================================================*/
/*general size and position Logo */
/*==========================================================*/
.sizeLogo {
    width: 100px;
    height: 40px;
}
.marginLogo {
    position: relative;
    margin-left: 20px;
}
/*==========================================================*/
/*general size NAV */
/*==========================================================*/
.sizeNav {
    height: 100px;
}
.spaceLink {
    width: 100%;
}
.sizeLink {
    width: 140px;
    height: 98px;
}
.alignLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*==========================================================*/
/*general design NAV */
/*==========================================================*/
.nolineLink {
    text-decoration: none;
}
.colorLiensNav:hover {
    color: #0065FC;
}
.colorLiensNav {
    color: black;
}
.borderNav:hover {
    border-top: 2px solid #0065FC;
}

/*==========================================================*/
/*General colors and design of page*/
/*==========================================================*/
.colorBlue {
    color: #0065FC;
}
.colorLightBlue {
    color: #deebff;
}
.colorGrey {
    color: #f2f2f2;
}
.colorBlack {
    color: black;
}
.backgroundBlue {
    background-color: #0065FC;
}
.backgroundLightBlue {
    background-color: #deebff;
}
.backgroundGrey {
    background-color: #f2f2f2;
}
.backgroundWhite {
    background-color: white;
}
.noBorder {
    border: none;
}
/*==========================================================*/
/*General fonts design of page*/
/*==========================================================*/
.h1 {
    font-size: 25px;
    font-weight: bold;
}
.boldText {
    font-weight: bold;
}

/*==========================================================*/
/*Search Bar css*/
/*==========================================================*/
.marginSearchBar {
    width: 445px;
    border-radius: 10px;
    margin-left: -5px;
}
.iconeSize {
    height: 50px;
    width: 50px;
    border-radius: 10px 0px 0px 10px;
}
.searchPlaceholder {
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    border: 1px solid #f2f2f2;
}
.paddingTextSearch {
    padding-left: 20px;
}
.buttonSearch {
    height: 50px;
    width: 120px;
    color: white;
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}
.buttonSearch:hover {
    color: #0065FC;
    background-color: #f2f2f2;
    cursor: pointer;
}
.buttonSearchIcon {
    display: none;
}
#placeholderText::placeholder {
    font-weight: bold;
    color: black;
}
/*==========================================================*/
/*Filters page css*/
/*==========================================================*/
.marginFilters {
    margin-top: 30px;
    margin-bottom: 20px;
}
.filters {
    display: flex;
    align-items: center;
}

.marginFiltersTitle {
    margin-right: 20px;
}
.filtersTextIcons {
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
}
.filtersTextIcons:hover .filtersText {
    color: #0065FC;
}
.filtersTextIcons:hover .filtersIcons {
    color: #deebff;
    background-color: #0065FC;
}
.filtersText {
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    cursor: pointer;
}
.filtersIcons {
    margin-left: -2px;
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: #0065FC;
    background-color: #deebff;
}
/*==========================================================*/
/*Informations design css*/
/*==========================================================*/
.information {
    display: flex;
    align-items: center;
}
.infoIcon {
    height: 20px;
    width: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    color: #0065FC;
    margin-right: 10px;
}
/*==========================================================*/
/*General card and specbox group css*/
/*==========================================================*/
.cardGroup {
    padding-left: 20px;
    padding-right: 20px;
}

/*==========================================================*/
/*Accommodations design css*/
/*==========================================================*/
.accomodationsSize {
    flex: 2;
    flex-grow: 2;
    height: 650px;
    margin-right: 20px;
    border-radius: 10px;
}
.accomodationsLine1 {
    margin-bottom: 20px;
}
.accomodationsLine2 {
    margin-top: 20px;
}
.accomodationsCard {
    width: 30%;
    height: auto;
    border-radius: 20px;
    padding: 4px 4px 10px 4px;
}
.accomodationsImg {
    object-fit: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.accomodationsSpecBox {
    width: 90%;
}
/*==========================================================*/
/*Popular design css*/
/*==========================================================*/
.popularBoxPosition {
    margin-right: 20px;
}
.popularSize {
    flex: 1;
    flex-grow: 1;
    height: 650px;
    margin-left: 20px;
    border-radius: 10px;
}
.popularCard {
    width: 100%;
    height: auto;
    border-radius: 20px;
    padding: 1% 0px 1% 1%;
}
.popularImg {
    object-fit: cover;
    background-position: center;
    width: 40%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}
.popularBox {
    margin-bottom: 20px;
}
.popularSpecBox {
    width: 60%;
    padding-left: 5%;
}
/*==========================================================*/
/*Activities design css*/
/*==========================================================*/
.activitiesGeneral {
    margin-top: 50px;
    margin-bottom: 50px;
}
.activitiesSize {
    width: 100%;
    height: 500px;
}
.activitiesCard {
    width: 23%;
    border-radius: 15px;
    box-shadow: 0 1px 5px 0 #f2f2f2;
}
.activitiesImg {
    object-fit: cover;
    background-position: center;
    width: 100%;
    height: 450px;
    border-radius: 15px 15px 0 0;
}
.acitivitiesSpecBox {
    width: 90%;
}
.activitiesTitle {
    margin: 10px 0 10px 0;
}